html, body
{
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: 'Roboto', serif;
  background-color: #eee;
}

/* Box */

.page
{
  height: 100%;
}

.logo
{
  width:100%;
}

.nav-col
{
  width: 20%;
  min-width: 220px;
}

.card
{
  background-color: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px -2px rgba(0,0,0,0.20);
  -webkit-box-shadow: 0px 4px 10px -2px rgba(0,0,0,0.20);
  -moz-box-shadow: 0px 4px 10px -2px rgba(0,0,0,0.20);
}

/* Forms */

input
{
  width: 100%;
  box-sizing: border-box;
  height: 40px;
  padding: 5px 12px;
  margin: 8px 0;
  border-radius: 25px;
  outline: none;
  border: none;
}

input[type="submit"]
{
  background-color: inherit;
  border: 2px solid #fff;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  transition: all 0.2s ease;
}

input[type="submit"]:hover
{
  background-color: #fff;
  color: #7d52ea;
}

/* Flex-Box */

.container
{
  display: flex;
  flex-wrap: wrap;
}

.justify-sb
{
  justify-content: space-between;
}

.alignc-start
{
  align-content: start;
}

.fd-column
{
  flex-direction: column;
}

/* Titles */

h2
{
  color: #7d52ea;
  margin: 0;
}

h4
{
  margin: 0;
}

/* Links */

.link-bold
{
  color: #7d52ea;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  font-size:14px;
}

/* Alignments */

.center
{
  text-align: center;
}

/* Color & Backgrounds */

.bg-primary
{
  background-color: #7d52ea;
}

.bg-darkPrimary
{
  background-color: #663399;
}

/* Padding & Margins */

.p10
{
  padding: 10px;
}

.p20
{
  padding: 20px;
}

.mt-20
{
  margin-top: 20px;
}
